body {
    margin: 0;
    font-size: 14px;
    line-height: 1.2;
    font-family: 'Arial', sans-serif;
}
.container{
    max-width: 600px ;
}
.chat-rooms .btn {
    margin-bottom: 8px;
}
.btn {
    background: #43d9be;
    color: white;
    outline: none !important;
    box-shadow: none !important;
    font-size: 10px;
}
.input-group-text {
    border: none !important;
    padding: 0 4px;
    font-size: 10px;
}
.form-control:focus {
    box-shadow: none;
    border-color: #ced4da;
}
.input-title {
    background-color: #e9ecef;
    border: 1px solid #ced4da;
}
.btn:focus{
    outline: none !important;
}
.username{
    font-weight: bold;
}
.time{
    font-size: 0.7em;
    color: #999;
}
@media (min-width: 576px) {
    .btn {
        font-size: 12px;
    }
    form .input-group-text {
        font-size: 12px;
    }
}
@media (min-width: 768px) {
    .chat-rooms div {
        font-size: 20px;
    }
    .btn {
        font-size: 14px;
    }
    form .input-group-text {
        font-size: 14px;
    }
}
@media (min-width: 992px) {
    .btn {
        font-size: 16px;
    }
    form .input-group-text {
        font-size: 16px;
    }
}